In [1]:
import pandas as pd

In [2]:
##history validation
uniprot_16=pd.read_csv("uniprot_links_2.csv",encoding='utf-8')##from drugbank database
uniprot_16.head(10)

,DrugBank ID,Name,Type,UniProt ID,UniProt Name
0,DB00001,Lepirudin,BiotechDrug,P00734,Prothrombin
1,DB00002,Cetuximab,BiotechDrug,P00533,Epidermal growth factor receptor
2,DB00002,Cetuximab,BiotechDrug,O75015,Low affinity immunoglobulin gamma Fc region re...
3,DB00002,Cetuximab,BiotechDrug,P00736,Complement C1r subcomponent
4,DB00002,Cetuximab,BiotechDrug,P02745,Complement C1q subcomponent subunit A
5,DB00002,Cetuximab,BiotechDrug,P02746,Complement C1q subcomponent subunit B
6,DB00002,Cetuximab,BiotechDrug,P02747,Complement C1q subcomponent subunit C
7,DB00002,Cetuximab,BiotechDrug,P08637,Low affinity immunoglobulin gamma Fc region re...
8,DB00002,Cetuximab,BiotechDrug,P09871,Complement C1s subcomponent
9,DB00002,Cetuximab,BiotechDrug,P12314,High affinity immunoglobulin gamma Fc receptor I

In [3]:
unip_db_16=uniprot_16[["DrugBank ID","UniProt ID"]].copy()##creat a new dataframe to save them.
unip_db_16.columns=("Source node name","Target node name")
new_columns =['Source node type',"Relationship type","Target node type"]##due to algorithm, the dataset fromats be same

In [4]:
same_value = ['DRUG','DRUG_TARGETS','TARGET']
specific_location = 1 # location to insert the new column
for i, column_name in enumerate(new_columns):
    unip_db_16.insert(specific_location+i, column_name, same_value[i])

In [5]:
unip_db_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16027 entries, 0 to 16026
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Source node name   16027 non-null  object
 1   Source node type   16027 non-null  object
 2   Relationship type  16027 non-null  object
 3   Target node type   16027 non-null  object
 4   Target node name   16027 non-null  object
dtypes: object(5)
memory usage: 626.2+ KB

In [6]:
##remove the repeated data
unip_db_16 = unip_db_16.drop_duplicates()

In [7]:
unique_count_16_sd= unip_db_16["Source node name"].nunique()
unique_count_16_tar= unip_db_16["Target node name"].nunique()
print("Number of unique values in the drug:", unique_count_16_sd)
print("Number of unique values in the drug-target:", unique_count_16_tar)

Number of unique values in the drug: 6640
Number of unique values in the drug-target: 4083

In [8]:
unip_db_16.info()
# Export the final dataframe as a CSV file
unip_db_16.to_csv('drug_uniprot_16.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 15840 entries, 0 to 16026
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Source node name   15840 non-null  object
 1   Source node type   15840 non-null  object
 2   Relationship type  15840 non-null  object
 3   Target node type   15840 non-null  object
 4   Target node name   15840 non-null  object
dtypes: object(5)
memory usage: 742.5+ KB

In [9]:
##read the data
uniprot=pd.read_csv("uniprot_links.csv",encoding='utf-8')##from drugbank database

In [10]:
uniprot.head(10)

,DrugBank ID,Name,Type,UniProt ID,UniProt Name
0,DB00001,Lepirudin,BiotechDrug,P00734,Prothrombin
1,DB00002,Cetuximab,BiotechDrug,P00533,Epidermal growth factor receptor
2,DB00002,Cetuximab,BiotechDrug,O75015,Low affinity immunoglobulin gamma Fc region re...
3,DB00002,Cetuximab,BiotechDrug,P02745,Complement C1q subcomponent subunit A
4,DB00002,Cetuximab,BiotechDrug,P02746,Complement C1q subcomponent subunit B
5,DB00002,Cetuximab,BiotechDrug,P02747,Complement C1q subcomponent subunit C
6,DB00002,Cetuximab,BiotechDrug,P08637,Low affinity immunoglobulin gamma Fc region re...
7,DB00002,Cetuximab,BiotechDrug,P12314,High affinity immunoglobulin gamma Fc receptor I
8,DB00002,Cetuximab,BiotechDrug,P12318,Low affinity immunoglobulin gamma Fc region re...
9,DB00004,Denileukin diftitox,BiotechDrug,P01589,Interleukin-2 receptor subunit alpha

In [11]:
unip_db=uniprot[["DrugBank ID","UniProt ID"]].copy()##creat a new dataframe to save them.

In [12]:
unip_db.columns=("Source node name","Target node name")##change the name of column

In [13]:
##due to algorithm, the dataset fromats be same
##add some columns
new_columns =['Source node type',"Relationship type","Target node type"]
same_value = ['DRUG','DRUG_TARGETS','TARGET']
specific_location = 1 # location to insert the new column
for i, column_name in enumerate(new_columns):
    unip_db.insert(specific_location+i, column_name, same_value[i])

In [14]:
unip_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22303 entries, 0 to 22302
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Source node name   22303 non-null  object
 1   Source node type   22303 non-null  object
 2   Relationship type  22303 non-null  object
 3   Target node type   22303 non-null  object
 4   Target node name   22303 non-null  object
dtypes: object(5)
memory usage: 871.3+ KB

In [15]:
##remove the repeated data
unip_db = unip_db.drop_duplicates()
unip_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21805 entries, 0 to 22302
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Source node name   21805 non-null  object
 1   Source node type   21805 non-null  object
 2   Relationship type  21805 non-null  object
 3   Target node type   21805 non-null  object
 4   Target node name   21805 non-null  object
dtypes: object(5)
memory usage: 1022.1+ KB

In [16]:
#check the numble of source node and target node
unique_count_sd= unip_db["Source node name"].nunique()
unique_count_tar= unip_db["Target node name"].nunique()
print("Number of unique values in the drug:", unique_count_sd)
print("Number of unique values in the drug-target:", unique_count_tar)

Number of unique values in the drug: 7756
Number of unique values in the drug-target: 4916

In [17]:
unip_db.head()

,Source node name,Source node type,Relationship type,Target node type,Target node name
0,DB00001,DRUG,DRUG_TARGETS,TARGET,P00734
1,DB00002,DRUG,DRUG_TARGETS,TARGET,P00533
2,DB00002,DRUG,DRUG_TARGETS,TARGET,O75015
3,DB00002,DRUG,DRUG_TARGETS,TARGET,P02745
4,DB00002,DRUG,DRUG_TARGETS,TARGET,P02746

In [18]:
# Export the final dataframe as a CSV file
unip_db.to_csv('drug_uniprot.csv', index=False)

In [19]:
umls=pd.read_csv("meddra_all_indications.tsv",delimiter='\t',encoding='utf-8',header=None)
##from Side Effect Resource
##No information about Drugbank ID

In [20]:
umls.head()

,0,1,2,3,4,5,6
0,CID100000085,C0015544,text_mention,Failure to Thrive,LLT,C0015544,Failure to thrive
1,CID100000085,C0015544,text_mention,Failure to Thrive,PT,C0015544,Failure to thrive
2,CID100000085,C0020615,text_mention,Hypoglycemia,LLT,C0020615,Hypoglycaemia
3,CID100000085,C0020615,text_mention,Hypoglycemia,PT,C0020615,Hypoglycaemia
4,CID100000085,C0022661,NLP_indication,"Kidney Failure, Chronic",LLT,C0022661,Renal failure chronic

In [21]:
##extract the sepicific columns
cid_umls=umls.iloc[:,[0,1]].copy()

In [22]:
cid_umls.head()

              0         1
0  CID100000085  C0015544
1  CID100000085  C0015544
2  CID100000085  C0020615
3  CID100000085  C0020615
4  CID100000085  C0022661

In [23]:
##create the name of columns
cid_umls.columns=("CID","UMLS")

In [24]:
cid_umls.head()

            CID      UMLS
0  CID100000085  C0015544
1  CID100000085  C0015544
2  CID100000085  C0020615
3  CID100000085  C0020615
4  CID100000085  C0022661

In [25]:
cid_umls["CID"]=cid_umls['CID'].str.slice(4).astype(float)
##However, their data formats are different so I have corrected them to the same format.
##ALL data about CID are corrected into numeric without First four bytes（CID1）

In [26]:
cid_umls.head()

    CID      UMLS
0  85.0  C0015544
1  85.0  C0015544
2  85.0  C0020615
3  85.0  C0020615
4  85.0  C0022661

In [27]:
cid_dbid=pd.read_csv("structure_links.csv")
##use the dataset to map UMLS to map Drugbank ID

In [28]:
cid_dbid.head()

,DrugBank ID,Name,CAS Number,Drug Groups,InChIKey,InChI,SMILES,Formula,KEGG Compound ID,KEGG Drug ID,PubChem Compound ID,PubChem Substance ID,ChEBI ID,ChEMBL ID,HET ID,ChemSpider ID,BindingDB ID
0,DB00006,Bivalirudin,128270-60-0,approved; investigational,OIRCOABEOLEUMC-GEJPAHFPSA-N,InChI=1S/C98H138N24O33/c1-5-52(4)82(96(153)122...,CC[C@H](C)[C@H](NC(=O)[C@H](CCC(O)=O)NC(=O)[C@...,C98H138N24O33,NaN,D03136,16129704.0,46507415.0,59173.0,CHEMBL2103749,NaN,10482069.0,50248103.0
1,DB00007,Leuprolide,53714-56-0,approved; investigational,GFIJNRVAKGFPGQ-LIJARHBVSA-N,InChI=1S/C59H84N16O12/c1-6-63-57(86)48-14-10-2...,CCNC(=O)[C@@H]1CCCN1C(=O)[C@H](CCCNC(N)=N)NC(=...,C59H84N16O12,C07612,D08113,NaN,46507635.0,6427.0,CHEMBL1201199,NaN,571356.0,50369395.0
2,DB00014,Goserelin,65807-02-5,approved,BLCLNMBMMGCOAS-URPVMXJPSA-N,InChI=1S/C59H84N18O14/c1-31(2)22-40(49(82)68-3...,CC(C)C[C@H](NC(=O)[C@@H](COC(C)(C)C)NC(=O)[C@H...,C59H84N18O14,NaN,D00573,5311128.0,46507336.0,5523.0,CHEMBL1201247,NaN,4470656.0,NaN
3,DB00027,Gramicidin D,1405-97-6,approved,NDAYQJDHGXTBJL-MWWSRJDJSA-N,InChI=1S/C96H135N19O16/c1-50(2)36-71(105-79(11...,CC(C)C[C@@H](NC(=O)CNC(=O)[C@@H](NC=O)C(C)C)C(...,C96H135N19O16,NaN,D04369,45267103.0,46507412.0,NaN,CHEMBL557217,NaN,24623445.0,NaN
4,DB00035,Desmopressin,16679-58-6,approved,NFLWUMRGJYTJIN-PNIOQBSNSA-N,InChI=1S/C46H64N14O12S2/c47-35(62)15-14-29-40(...,NC(=O)CC[C@@H]1NC(=O)[C@H](CC2=CC=CC=C2)NC(=O)...,C46H64N14O12S2,C06944,D00291,NaN,NaN,4450.0,CHEMBL1429,NaN,4470602.0,50205308.0

In [29]:
##create the mapping table
mapp=cid_dbid[["DrugBank ID","PubChem Compound ID"]]

In [30]:
##change the name of columns
mapp.columns=["Drugbank ID","CID"]
mapp.head()

  Drugbank ID         CID
0     DB00006  16129704.0
1     DB00007         NaN
2     DB00014   5311128.0
3     DB00027  45267103.0
4     DB00035         NaN

In [31]:


# Merge the two dataframes on the pubchem ID column
merged_df = pd.merge(cid_umls, mapp, on='CID')
 
# Drop the bindingDB ID column and rename the Drugbank ID column
final_df = merged_df.drop('CID', axis=1).rename(columns={'Drugbank ID': 'ID'})

In [32]:
final_df.head()

       UMLS       ID
0  C0001768  DB02530
1  C0001768  DB02530
2  C0008049  DB02530
3  C0008049  DB02530
4  C0009447  DB02530

In [33]:
cid_umls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30835 entries, 0 to 30834
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CID     30835 non-null  float64
 1   UMLS    30835 non-null  object
dtypes: float64(1), object(1)
memory usage: 481.9+ KB

In [34]:
mapp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12227 entries, 0 to 12226
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Drugbank ID  12227 non-null  object
 1   CID          8704 non-null   float64
dtypes: float64(1), object(1)
memory usage: 191.2+ KB

In [35]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12829 entries, 0 to 12828
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CID          12829 non-null  float64
 1   UMLS         12829 non-null  object
 2   Drugbank ID  12829 non-null  object
dtypes: float64(1), object(2)
memory usage: 300.8+ KB

In [36]:
##change the order of the columns
new_order = ['ID', 'UMLS']
final_df =final_df.reindex(columns=new_order)

In [37]:
df_umls=final_df

df_umls.head()

        ID      UMLS
0  DB02530  C0001768
1  DB02530  C0001768
2  DB02530  C0008049
3  DB02530  C0008049
4  DB02530  C0009447

In [38]:
##change the name of columns
df_umls.columns=("Source node name","Target node name")

In [39]:
##due to algorithm, the dataset fromats be same
##add some columns
new_columns =['Source node type',"Relationship type","Target node type"]
same_value = ['DRUG','TREAT','DISEASE']
specific_location = 1 # location to insert the new column
for i, column_name in enumerate(new_columns):
    df_umls.insert(specific_location+i, column_name, same_value[i])

In [40]:
data_umls=df_umls.drop_duplicates()

In [41]:
data_umls.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6085 entries, 0 to 12827
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Source node name   6085 non-null   object
 1   Source node type   6085 non-null   object
 2   Relationship type  6085 non-null   object
 3   Target node type   6085 non-null   object
 4   Target node name   6085 non-null   object
dtypes: object(5)
memory usage: 285.2+ KB

In [42]:
data_umls.head()##dataset about Drug-Disease Interactions using UMLS

,Source node name,Source node type,Relationship type,Target node type,Target node name
0,DB02530,DRUG,TREAT,DISEASE,C0001768
2,DB02530,DRUG,TREAT,DISEASE,C0008049
4,DB02530,DRUG,TREAT,DISEASE,C0009447
6,DB02530,DRUG,TREAT,DISEASE,C0009450
8,DB02530,DRUG,TREAT,DISEASE,C0019158

In [43]:
#check the numble of source node and target node
unique_count_sd_umls= data_umls["Source node name"].nunique()
unique_count_tar_umls= data_umls["Target node name"].nunique()
print("Number of unique values in the drug:", unique_count_sd_umls)
print("Number of unique values in the disease:", unique_count_tar_umls)

Number of unique values in the drug: 661
Number of unique values in the disease: 1843

In [44]:
# Export the final dataframe as a CSV file
data_umls.to_csv('Drug_Disease.csv', index=False)

In [45]:
##the former datasets are combined
combined_df = pd.concat([unip_db, data_umls])

In [46]:
combined_df.head()
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27890 entries, 0 to 12827
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Source node name   27890 non-null  object
 1   Source node type   27890 non-null  object
 2   Relationship type  27890 non-null  object
 3   Target node type   27890 non-null  object
 4   Target node name   27890 non-null  object
dtypes: object(5)
memory usage: 1.3+ MB

In [47]:
##remove the repeated data
df_unique = combined_df.drop_duplicates()
df_unique.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27890 entries, 0 to 12827
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Source node name   27890 non-null  object
 1   Source node type   27890 non-null  object
 2   Relationship type  27890 non-null  object
 3   Target node type   27890 non-null  object
 4   Target node name   27890 non-null  object
dtypes: object(5)
memory usage: 1.3+ MB

In [48]:
df_unique.head()

,Source node name,Source node type,Relationship type,Target node type,Target node name
0,DB00001,DRUG,DRUG_TARGETS,TARGET,P00734
1,DB00002,DRUG,DRUG_TARGETS,TARGET,P00533
2,DB00002,DRUG,DRUG_TARGETS,TARGET,O75015
3,DB00002,DRUG,DRUG_TARGETS,TARGET,P02745
4,DB00002,DRUG,DRUG_TARGETS,TARGET,P02746

In [49]:
#check the numble of source node and target node
unique_count_drug= df_unique["Source node name"].nunique()
unique_count_total_tar= df_unique["Target node name"].nunique()
print("Number of unique values in the drug:",unique_count_drug)
print("Number of unique values in the target:", unique_count_total_tar)

Number of unique values in the drug: 7838
Number of unique values in the target: 6759

In [50]:
#Export the final dataframe as a CSV file
df_unique.to_csv('data_0.csv', index=False)

In [51]:
##check the information of the disease ADHD
rows=umls[umls[6]=='Attention deficit/hyperactivity disorder']
print(rows)

                  0         1               2  \
1646   CID100001206  C0041671    text_mention
6736   CID100002803  C1263846  NLP_indication
6737   CID100002803  C1263846  NLP_indication
7716   CID100003007  C0041671    text_mention
7731   CID100003007  C1263846  NLP_indication
7732   CID100003007  C1263846  NLP_indication
10988  CID100003519  C1263846  NLP_indication
10989  CID100003519  C1263846  NLP_indication
13953  CID100004158  C0041671    text_mention
13976  CID100004158  C1263846  NLP_indication
13977  CID100004158  C1263846  NLP_indication
24166  CID100054840  C0041671  NLP_indication
24176  CID100054840  C1263846  NLP_indication
24177  CID100054840  C1263846  NLP_indication
29203  CID111597697  C0041671  NLP_indication
29209  CID111597697  C1263846  NLP_indication
29210  CID111597697  C1263846  NLP_indication

                                              3    4         5  \
1646                 Attention Deficit Disorder   PT  C1263846
6736   Attention deficit hyperactivity disorder  LLT  C1263846
6737   Attention deficit hyperactivity disorder   PT  C1263846
7716                 Attention Deficit Disorder   PT  C1263846
7731   Attention deficit hyperactivity disorder  LLT  C1263846
7732   Attention deficit hyperactivity disorder   PT  C1263846
10988  Attention deficit hyperactivity disorder  LLT  C1263846
10989  Attention deficit hyperactivity disorder   PT  C1263846
13953                Attention Deficit Disorder   PT  C1263846
13976  Attention deficit hyperactivity disorder  LLT  C1263846
13977  Attention deficit hyperactivity disorder   PT  C1263846
24166                Attention Deficit Disorder   PT  C1263846
24176  Attention deficit hyperactivity disorder  LLT  C1263846
24177  Attention deficit hyperactivity disorder   PT  C1263846
29203                Attention Deficit Disorder   PT  C1263846
29209  Attention deficit hyperactivity disorder  LLT  C1263846
29210  Attention deficit hyperactivity disorder   PT  C1263846

                                              6
1646   Attention deficit/hyperactivity disorder
6736   Attention deficit/hyperactivity disorder
6737   Attention deficit/hyperactivity disorder
7716   Attention deficit/hyperactivity disorder
7731   Attention deficit/hyperactivity disorder
7732   Attention deficit/hyperactivity disorder
10988  Attention deficit/hyperactivity disorder
10989  Attention deficit/hyperactivity disorder
13953  Attention deficit/hyperactivity disorder
13976  Attention deficit/hyperactivity disorder
13977  Attention deficit/hyperactivity disorder
24166  Attention deficit/hyperactivity disorder
24176  Attention deficit/hyperactivity disorder
24177  Attention deficit/hyperactivity disorder
29203  Attention deficit/hyperactivity disorder
29209  Attention deficit/hyperactivity disorder
29210  Attention deficit/hyperactivity disorder

In [52]:
# Create an empty list to store the results
result_list = []

#Create an list to store the uniprot id of ADHD
ADHD_list = ['P34972'
,'P00742'
,'P35367'
,'P08908'
,'P28222'
,'P41595'
,'P28335'
,'P35462'
,'P21917'
,'P08173'
,'P31645'
,'P08913'
,'Q01959'
,'P36544'
,'P23975'
,'P35368'
,'Q8TDV5'
,'Q96RJ0'
,'Q9Y2T6'
,'P08912'
,'P43681'
,'P17787'
,'Q9Y5N1'
,'P34969']

# Loop through the elements in ADHD_list
for element in ADHD_list:
    # Use the isin method to check if the element exists in any column of the DataFrame
    if df_unique.isin([element]).any().any():
        result_list.append(True)
    else:
        result_list.append(False)

print(result_list)

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

In [53]:
data_11=pd.read_csv("data_0.csv")
data_11.head()

,Source node name,Source node type,Relationship type,Target node type,Target node name
0,DB00001,DRUG,DRUG_TARGETS,TARGET,P00734
1,DB00002,DRUG,DRUG_TARGETS,TARGET,P00533
2,DB00002,DRUG,DRUG_TARGETS,TARGET,O75015
3,DB00002,DRUG,DRUG_TARGETS,TARGET,P02745
4,DB00002,DRUG,DRUG_TARGETS,TARGET,P02746

In [54]:
# Define the condition for which elements in 'Target node name' should be replaced
condition = data_11['Target node name'].isin(ADHD_list)  # Replace elements in ADHD_list into the 'P34972'
# Replace the values in the 'Target node name' column of my_dataframe that meet the condition with the 'P34972'
data_11.loc[condition, 'Target node name'] ='P34972'

In [55]:
##check the result after replacing
rowsw=data_11[data_11['Target node name']=='P34972']
print(rowsw)

      Source node name Source node type Relationship type Target node type  \
61             DB00025             DRUG      DRUG_TARGETS           TARGET
113            DB00036             DRUG      DRUG_TARGETS           TARGET
234            DB00100             DRUG      DRUG_TARGETS           TARGET
403            DB00122             DRUG      DRUG_TARGETS           TARGET
1067           DB00176             DRUG      DRUG_TARGETS           TARGET
...                ...              ...               ...              ...
21704          DB16321             DRUG      DRUG_TARGETS           TARGET
21740          DB16629             DRUG      DRUG_TARGETS           TARGET
21741          DB16629             DRUG      DRUG_TARGETS           TARGET
21742          DB16629             DRUG      DRUG_TARGETS           TARGET
21802          DB17087             DRUG      DRUG_TARGETS           TARGET

      Target node name
61              P34972
113             P34972
234             P34972
403             P34972
1067            P34972
...                ...
21704           P34972
21740           P34972
21741           P34972
21742           P34972
21802           P34972

[1197 rows x 5 columns]

In [56]:
##export the dataset
data_11.to_csv('data_2.csv', index=False)

In [57]:
##creat a drug_list about ADHD
drug_list=['DB00752', 'DB01062', 'DB00927', 'DB00152', 'DB01043', 'DB01148', 'DB01595', 'DB01233', 'DB04843', 'DB00280', 'DB00561', 'DB00831', 'DB01356', 'DB00850', 'DB00165', 'DB00404', 'DB01050', 'DB00338', 'DB00489', 'DB00313', 'DB00829', 'DB00316', 'DB00804', 'DB08906', 'DB01182', 'DB00843', 'DB00842', 'DB00813', 'DB00822', 'DB00450', 'DB00533', 'DB00716', 'DB01558', 'DB00264', 'DB01247']

In [58]:
##create the table Drugs’ name corresponding to the Drugbank ID
##export the table
filtered_rows = uniprot[uniprot['DrugBank ID'].isin(drug_list)]
drug_adhd=filtered_rows.iloc[:, :2].drop_duplicates()
drug_adhd.to_csv('drug_adhd.csv', index=False)

In [59]:
##create the newdatset
data_1=df_unique.copy()

In [60]:
# Replace elements into the same
data_1['Target node name'] =data_1['Target node name'].replace('C0041671', 'C1263846')

In [61]:
##check the condition
rowsw=data_1[data_1['Target node name']=='C1263846']
print(rowsw)

     Source node name Source node type Relationship type Target node type  \
3060          DB00575             DRUG             TREAT          DISEASE
3385          DB00182             DRUG             TREAT          DISEASE
3401          DB00182             DRUG             TREAT          DISEASE
5192          DB01018             DRUG             TREAT          DISEASE
6713          DB00422             DRUG             TREAT          DISEASE
6737          DB00422             DRUG             TREAT          DISEASE

     Target node name
3060         C1263846
3385         C1263846
3401         C1263846
5192         C1263846
6713         C1263846
6737         C1263846

In [62]:
data_1[data_1['Target node name']=='C1263846']

,Source node name,Source node type,Relationship type,Target node type,Target node name
3060,DB00575,DRUG,TREAT,DISEASE,C1263846
3385,DB00182,DRUG,TREAT,DISEASE,C1263846
3401,DB00182,DRUG,TREAT,DISEASE,C1263846
5192,DB01018,DRUG,TREAT,DISEASE,C1263846
6713,DB00422,DRUG,TREAT,DISEASE,C1263846
6737,DB00422,DRUG,TREAT,DISEASE,C1263846

In [63]:
#Export the final dataframe as a CSV file
data_1.to_csv('data_1.csv', index=False)

In [64]:
##history validation
##datasets are combined
combined_df_16 = pd.concat([unip_db_16, data_umls])
combined_df_16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21925 entries, 0 to 12827
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Source node name   21925 non-null  object
 1   Source node type   21925 non-null  object
 2   Relationship type  21925 non-null  object
 3   Target node type   21925 non-null  object
 4   Target node name   21925 non-null  object
dtypes: object(5)
memory usage: 1.0+ MB

In [65]:
##remove the repeated data
df_unique_16 = combined_df_16.drop_duplicates()
df_unique_16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21925 entries, 0 to 12827
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Source node name   21925 non-null  object
 1   Source node type   21925 non-null  object
 2   Relationship type  21925 non-null  object
 3   Target node type   21925 non-null  object
 4   Target node name   21925 non-null  object
dtypes: object(5)
memory usage: 1.0+ MB

In [66]:
#check the numble of source node and target node
unique_count_drug_16= df_unique_16["Source node name"].nunique()
unique_count_total_tar_16= df_unique_16["Target node name"].nunique()
print("Number of unique values in the drug:",unique_count_drug_16)
print("Number of unique values in the target:", unique_count_total_tar_16)

Number of unique values in the drug: 6758
Number of unique values in the target: 5926

In [67]:
# Create an empty list to store the results
result_list_16 = []

#Create an list to store the uniprot id of ADHD
ADHD_list = ['P34972'
,'P00742'
,'P35367'
,'P08908'
,'P28222'
,'P41595'
,'P28335'
,'P35462'
,'P21917'
,'P08173'
,'P31645'
,'P08913'
,'Q01959'
,'P36544'
,'P23975'
,'P35368'
,'Q8TDV5'
,'Q96RJ0'
,'Q9Y2T6'
,'P08912'
,'P43681'
,'P17787'
,'Q9Y5N1'
,'P34969']

# Loop through the elements in ADHD_list
for element in ADHD_list:
    # Use the isin method to check if the element exists in any column of the DataFrame
    if df_unique_16.isin([element]).any().any():
        result_list_16.append(True)
    else:
        result_list_16.append(False)

print(result_list_16)

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, False, True, True, True, True, True]

In [68]:
##create the table using old data
data_16=df_unique_16.copy()

In [69]:
# Define the condition for which elements in 'Target node name' should be replaced
condition = data_16['Target node name'].isin(ADHD_list)  # Replace elements in ADHD_list into the 'P34972'
# Replace the values in the 'Target node name' column of my_dataframe that meet the condition with the 'P34972'
data_16.loc[condition, 'Target node name'] ='P34972'

In [70]:
data_16.to_csv('data_16.csv', index=False)

In [71]:
##creat a drug_list about ADHD
drug_list_16=['DB01064', 'DB00752', 'DB01062', 'DB00202', 'DB01148', 'DB01233', 'DB04843', 'DB00280', 'DB00564', 'DB00831', 'DB01356', 'DB00850', 'DB00623', 'DB00404', 'DB00927', 'DB00489', 'DB00313', 'DB00829', 'DB01043', 'DB00804', 'DB08906', 'DB00843', 'DB00450', 'DB01247', 'DB00433']

In [72]:
##create the table Drugs’ name corresponding to the Drugbank ID
##export the table
filtered_rows_16 = uniprot[uniprot['DrugBank ID'].isin(drug_list_16)]
drug_adhd_16=filtered_rows_16.iloc[:, :2].drop_duplicates()
drug_adhd_16.to_csv('drug_adhd_16.csv', index=False)